body {
    margin: 10px auto;
     font-family: "Smythe";
    width: 500px;
     font-family: "Smythe", system-ui;
     padding: 0;

    
} 
/* .container { */
    /* width: 95%; */
    /* margin: 0 auto; */
     /* font-family: "Smythe",sans-serif; */
/* } */
.img{
    background-image:url('header.png');
    background-repeat: no-repeat;
    background-size: cover;

    height: 167px;
     
}
.header h1,p {
      /* font-family: "Smythe",sans-serif; */
    color: white;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
    
}
.header h1{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 4px;
    /* line-height: 24px; */
      /* font-family: "Smythe",sans-serif; */
}

.header p{
    padding-left: 30px;
    /* padding-top: 30px; */
    font-size: 17px;
    font-weight: 200;
    /* line-height: 13; */
    margin-top: 0;
}
.all-orders{
position: relative;
}
.orders{
    margin: 0;
    display: flex;
    border-bottom: 2px solid #DEDEDE;;
    
}
.order-emoji p{
    font-size: 80px;
    opacity:70%;
    color: black;
    font-family: "Inter", sans-serif;

    
}
.order-info {
padding-left: 40px;
padding-top: 90px;
}
.order-info h3{
    font-size: 35px;
    color: black;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top:0px ;
    margin-bottom: 7px;
}

.order-info h4{
color: #8B8B8B;
font-size: 17px;
margin-top:0;

}
.order-info h5{
    color: black;
    font-size: 25px;
    margin-top:0px;
}
h6{
      font-family: "Inter", sans-serif;
      font-size: 46px;
      font-weight: 200;
    color:#3C3C3C;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #DEDEDE;
    border-radius:100%;
    padding:1px 15px;
}
#chosen-order {
margin-top: 80px;
}
#chosen-order h3 {
text-align: center;
 font-family: "Smythe",sans-serif; 
 font-size: 30px;
 font-weight: 100;
}
/* .jk{
    background-color: red;
    font-size: large;
} */
#chosen-order{
    display: none;
}

.item{
    display:flex;
    justify-content:space-between ;
     font-family: "Smythe",sans-serif; 
     align-items: center;
    
}
#total-price-text{
    display: flex;
    justify-content: space-between;
    

}
#total-price-text h5, 
#total-price-text h4
 {
    font-weight: 300;
    font-size: 25px;
   color:#0E0E0E;
   
}
.border-line{
color: black;
width: 100%;
border: 1px solid black;
}
.btn-remove-item{
    color: #BBBBBB;
    padding: 10px;
    font-size: 15px;
    border: none;
    background: none;
}
.name{
    font-weight: 200;
    font-size: 28px;
    list-style: none;
}
.price{
    font-size: 20px;
}
.btn{
    background-color: #16DB99;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
}