body {
    margin: 0;
     font-family: "Smythe";
    /* width: 500px; */
     font-family: "Smythe", system-ui;
     padding: 0;

    
} 
.container{ 
    
    width:90%;
    max-width: 800px;
    margin: 0 auto;
    
   
    
     
     
 }
.img{
    margin-bottom: 0;
    margin-top: 10px;
width: 100%;
    background-image:url('header.png');
    background-repeat: no-repeat;
    background-size: cover;

    height: 167px;
     
}
.header h1,p {
      /* font-family: "Smythe",sans-serif; */
    color: white;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
    
}
.header h1{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 4px;

    
    /* line-height: 24px; */
      /* font-family: "Smythe",sans-serif; */
}

.header p{
    padding-left: 30px;
    /* padding-top: 30px; */
    font-size: 17px;
    font-weight: 200;
    /* line-height: 13; */
    margin-top: 0;
    
}
.all-orders{
    margin: 0;
position: relative;
}
.orders{
    height: 200px;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 2px solid #DEDEDE;;
    
}
.order-emoji p{
    font-size: 60px;
    opacity:70%;
    color: black;
    font-family: "Inter", sans-serif;

    
}
.order-info {
padding-left: 20px;
padding-top: 70px;
}
.order-info h3{
    font-size: 35px;
    color: black;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top:0px ;
    margin-bottom: 3px;
}

.order-info h4{
color: #8B8B8B;
font-size: 17px;
margin-top:0;
margin-bottom: 5px;

}
.order-info h5{
    color: black;
    font-size: 25px;
    margin-top:0px;
}
h6{
      font-family: "Inter", sans-serif;
      font-size: 40px;
      font-weight: 200;
    color:#3C3C3C;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #DEDEDE;
    border-radius:100%;
    padding:1px 13px;
}
#chosen-order {
margin-top: 40px;
}
#chosen-order h3 {
text-align: center;
 font-family: "Smythe",sans-serif; 
 font-size: 30px;
 font-weight: 100;
}
/* .jk{
    background-color: red;
    font-size: large;
} */
#chosen-order{
    display: none;
}

.item{
    display:flex;
    justify-content:space-between ;
     font-family: "Smythe",sans-serif; 
     align-items: center;
    
}
#total-price-text{
    display: flex;
    justify-content: space-between;
    

}
#total-price-text h5, 
#total-price-text h4
 {
    font-weight: 300;
    font-size: 25px;
   color:#0E0E0E;
   
}
.border-line{
color: black;
width: 100%;
border: 1px solid black;
}
.btn-remove-item{
    color: #BBBBBB;
    padding: 10px;
    font-size: 15px;
    border: none;
    background: none;
}
.name{
    font-weight: 200;
    font-size: 28px;
    list-style: none;
}
.price{
    font-size: 20px;
}
.btn{
    background-color: #16DB99;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
margin-bottom: 50px;
}


form{
    display:none;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    position: fixed;
    width: 350px;
    height: 300px;
    top: 30%;
    right: 10%;
     font-family: "Inter", sans-serif;
     z-index: 3;
     padding: 20px;
}
input{
    outline: 0;
    padding: 10px;
    font-size: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.message{
    background-color:#ECFDF5 ;
    color:#065F46;
    padding:  40px 20px;
    text-align: center;
    letter-spacing: 2;
    
    
}